%h1 Creating notes

= error_messages_for :notes

- form_for(:notes, :url => objects_url) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Create"

= link_to 'Back', objects_path
