%div.row
  %label{:for => "note_title"} Title
  =cf.text_field :title, :class => "title"

%div.row
  %label{:for => "note_body"}
    Body
    %span.help Use markdown for formatting  
  =cf.text_area :body, :rows => nil, :class => "expanding"