<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Kindmanage - Manage projects like a ninja</title>

<link rel="stylesheet" href="/stylesheets/application.sass" type="text/css" media="screen" />

</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="project_details">
        <h5 class="label">project</h5>
        <h1 class="name">Espresso Theme Library</h1>
      </div>
    </div>
    <div id="content">
      <ul id="create_entry" class="ribbon">
        <li class="create_label">&nbsp;</li>
        <li><a href="#"><span>Task</span></a></li>
        <li><a href="#"><span>Note</span></a></li>
        <li><a href="#"><span>Issue</span></a></li>
      </ul>
      
      <div id="entries">
        <div class="entry">
          <ul class="type"></ul>
          <div class="content">
            
            <!-- This where each entry type template will go -->
            
            <div class="meta"></div>
          </div>
        </div>
      </div>
      
    </div>
    <div id="footer">&nbsp;</div>
  </div>
</body>
</html>