<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Kindmanage - Manage projects like a ninja</title>

<link rel="stylesheet" href="/stylesheets/application.sass" type="text/css" media="screen" />

</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="project_details">
        <h5 class="label">project</h5>
        <h1 class="name">The Jones Residence</h1>
      </div>
    </div>
    <div id="content">
      <ul id="create_entry" class="ribbon">
        <li class="create_label">&nbsp;</li>
        <li><a href="#"><span>Task</span></a></li>
        <li><a href="#"><span>Note</span></a></li>
        <li><a href="#"><span>Issue</span></a></li>
        <li><a href="#"><span>Mockup</span></a></li>
      </ul>
      
      <div id="entry_form">
        <form>
          <fieldset class="main">
            <legend>new task</legend>
            <div class="row">
              <label for="describe_your_task_here">Title</label>
              <input type="text/submit/hidden/button" name="describe_your_task_here" value="" id="describe_your_task_here" class="title">
              <!-- <textarea name="task_description" class=""></textarea> -->
            </div>
            <div class="row">
              <label for="describe_your_task_here">Body</label>
              <!-- <input type="text/submit/hidden/button" name="describe_your_task_here" value="" id="describe_your_task_here" class="title"> -->
              <textarea name="task_description" class="" rows="8"></textarea>
            </div>
            <div class="buttons">
              <input type="submit" value="Create note" />
            </div>
          </fieldset>
          <fieldset class="options">
          
          </fieldset>
        </form>
      </div>
      
      <div id="entries">
        
        <div class="note entry">
          <ul class="type">
            <li class="label"><span>note</span></li>
          </ul>
          <div class="content">
            <!-- <h3>Budget: Some things to look out for</h3> -->
            <div class="body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div> 
            <div class="meta">
              Less than a minute ago -
              <span class="actions">
                <a href="#">Add to a workspace</a>
              </span>
            </div>
          </div>
        </div>
        
        
        <div class="task entry">
          <ul class="type">
            <li class="label"><span>task</span></li>
          </ul>
          <div class="content">
            <div class="body">
              <h3>Fix the drain pipe in the kitchen <span class="due overdue">Due tomorrow</h3>
            </div>
            <div class="meta">
              3 hours ago -
              <span class="actions">
                <a href="#">Add to a workspace</a>
              </span>
            </div>
          </div>
        </div>
        
        
        <div class="note entry">
          <ul class="type">
            <li class="label"><span>note</span></li>
          </ul>
          <div class="content">
            <h3>We seriously need a new lawn mower!</h3>
            <div class="body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div> 
            <div class="meta">
              34 days ago -
              <span class="actions">
                <a href="#">Add to a workspace</a>
              </span>
            </div>
          </div>
        </div>
        
        
      </div>
      
    </div>
    <div id="footer">&nbsp;</div>
  </div>
</body>
</html>