<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Kindmanage - Manage projects like a ninja</title>

<link rel="stylesheet" href="/stylesheets/application.sass" type="text/css" media="screen" />

</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="project_details">
        <h5 class="label">project</h5>
        <h1 class="name">Test Project</h1>
      </div>
    </div>
    <div id="content">
      <ul id="create_entry" class="ribbon">
        <li class="create_label">&nbsp;</li>
        <li><a href="#"><span>Task</span></a></li>
        <li><a href="#"><span>Note</span></a></li>
        <!-- <li><a href="#"><span>Issue</span></a></li>
        <li><a href="#"><span>Meeting</span></a></li> -->
      </ul>
      
      
      <div id="entries">
        
        <div id="entry_form">
          <form>
            <fieldset class="main">
              <legend>new note</legend>
              <div class="row">
                <label>Title</label>
                <input type="text" class="title" />
              </div>
              <div class="row">
                <label for="describe_your_task_here">Describe task here <span class="help hide">Use <a href="#">markdown</a> for formatting</span></label>
                <textarea name="task_description" class="" rows="3"></textarea>
              </div>
          
              <div class="buttons">
                <button type="submit" />Save task</button>
                or <a href="#">Cancel</a>
              </div>
            </fieldset>
            <fieldset class="options">
              <legend>options</legend>
              <div class="row">
                <label>When is it due?</label>
                <select>
                  <option>January</option>
                </select>
                <select>
                  <option>01</option>
                </select>
                <select>
                  <option>2009</option>
                  <option>2010</option>
                  <option>2011</option>
                </select>
                
              </div>
              <div class="row">
                <label>Available workspaces</label>
                <select name="some_name" id="some_name" size="1">
                  <option disabled=true>Choose one ...</option>
                  <option value="option1">United Airlines</option>
                  <option value="option2">AT&T Interactive</option>
                  
                </select>
              </div>
            </fieldset>
          </form>
        </div>
        
        <div class="note entry">
          <ul class="type">
            <li class="label"><span>note</span></li>
          </ul>
          <div class="content">
            <!-- <h3>Budget: Some things to look out for</h3> -->
            <div class="body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div> 
            <div class="meta">
              Less than a minute ago &nbsp; 
            </div>
          </div>
          <div class="options">
            <div class="group">
              <a href="#">Open</a>, <a href="#">Edit</a> or <a href="#">Delete</a>
            </div>
            <div class="group">
              <a href="#">Add to workspace</a>
            </div>
          </div>
        </div>
        
        <div class="note entry">
          <ul class="type">
            <li class="label"><span>note</span></li>
          </ul>
          <div class="content">
            <!-- <h3>Budget: Some things to look out for</h3> -->
            <div class="body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div> 
            <div class="meta">
              Less than a minute ago &nbsp; 
            </div>
          </div>
          <div class="options">
            <div class="group">
              <a href="#">Open</a>, <a href="#">Edit</a> or <a href="#">Delete</a>
            </div>
            <div class="group">
              <a href="#">Add to workspace</a>
            </div>
          </div>
        </div>
               
        <div class="task entry">
          <ul class="type">
            <li class="label"><span>task</span></li>
          </ul>
          <div class="content">
            <!-- <h3>Budget: Some things to look out for</h3> -->
            <div class="body">
              <h3>Consectetur adipisicing elit, sed do eiusmod <span class="due">Due tomorrow</span></h3>
            </div> 
            <div class="meta">
              Less than a minute ago &nbsp; 
            </div>
          </div>
          <div class="options">
            <div class="group">
              <a href="#">Open</a>, <a href="#">Edit</a> or <a href="#">Delete</a>
            </div>
            <div class="group">
              <a href="#">Add to workspace</a>
            </div>
          </div>
        </div>       
      
      </div>
      
    </div>
    <div id="footer">&nbsp;</div>
  </div>
</body>
</html>