[submodule "vendor/plugins/resource_controller"]
	path = vendor/plugins/resource_controller
	url = git://github.com/giraffesoft/resource_controller.git
[submodule "vendor/plugins/make_resourceful"]
	path = vendor/plugins/make_resourceful
	url = git://github.com/hcatlin/make_resourceful.git
[submodule "vendor/plugins/certify"]
	path = vendor/plugins/certify
	url = git://github.com/ryantownsend/certify.git
[submodule "vendor/plugins/responds_to_parent"]
	path = vendor/plugins/responds_to_parent
	url = git://github.com/Winslett/Responds-to-Parent.git
[submodule "vendor/plugins/jrails/jrails"]
	path = vendor/plugins/jrails/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
