%div.row
  %label{:for => "task_description"} Short Description   
  =cf.text_area :description, :rows => nil, :class => "short expanding", :limit => 100
  .help Describe something that needs to be completed or worked on