#content
  #entry
    #page
      %h5.label
        %span Project
      %h1.name=link_to @project.name, project_path(@project)
    #entry_form{:style => "display:none;"}
    #for_entry
      =render :partial => "entries/show", :locals => {:entry => @entry, :project => @project, :standalone => true, :context => view_context(current_object)}
    
