.content
  #entry
    #for_entry  
      =entry_item(@entry)
      
-content_for :actions do
  -if created_by_current_user?(@entry)
    =link_to_remote(image_tag("trash_icon.gif"), :url => project_entry_path(@entry.project, @entry, :context => @context), :method => :delete, :confirm => "Are you sure?")
    =link_to_remote("Edit #{@entry.content_type}", :url => edit_project_entry_path(@entry.project, @entry, :content_type => @entry.content_type, :context => @context), :method => :get)
  

