=render :partial => "projects/project_navigation"

=render :partial => "shared/header", :locals => {:project => @entry.project, :label => @entry.project.class}
#content
  #entry
    #entry_form{:style => "display:none;"}
    #for_single_entry
      =render :partial => "entries/entry", :locals => {:entry => @entry, :project => @project, :single_entry => true}
    
