#page.workspace
  %h5.label
    %span Workspace
  %h1.name
    =@workspace.name.humanize
    -if @workspace.project
      %span.sub=@workspace.project.name
#content
  #entries
    #for_workspace
      -@workspace.collections.each do |c|
        =render :partial => "entries/entry", :locals => {:entry => c.entry, :project => c.entry.project, :standalone => false}  
