.content
  #entries
    #entry_form{:style => 'display:none;'}
    #for_workspace
      -@workspace.collections.each do |c|
        =entry_list_item(c.entry)
        =#render :partial => "entries/show", :locals => {:entry => c.entry, :project => c.entry.project, :standalone => false, :context => view_context(current_object)}  
