#entry_form
  :float left
  :width 746px
  :height auto
  :margin-bottom 15px
  :background-color #fff
  :border = 2px solid (#ece9de)
  form
    :float left
    :overflow hidden
    
    /* =Form_layout
    
    .main
      :float left
      :width 466px
      :padding 15px
    .options
      :float right
      :width 219px
      :padding 15px 15px 1000px
      :margin-bottom -1000px
      :background-color = #ece9de +12
      :border-left 1px solid #ece9de
    .row, .buttons
      :float left
      :width 100%
      :margin-bottom 10px
      :display block
  
    /* =Form_elements
    
    span.legend
      :margin 0px 0 10px
      :float left
      :width 100%
      :font-size 10px
      :font-weight bold
      :background-color transparent
      / :background-color = #ece9de -50
      / :background-color = !dark_blue
      :display block
      :color = #ece9de -50
      :text-transform uppercase
    label
      :display block
      :margin-bottom 3px
      :font-size 14px
      :font-weight bold
      :color #666
      .help
        :padding-left 3px
        :font-size 11px
        :font-weight normal
        :color #999
    input.text, input.title, input.password, textarea.body, textarea
      :border 1px solid #ccc
        :right 2px solid #bbb
        :bottom 2px solid #bbb
      :padding 4px
      :font-size 14px
      :font-family "Helvetica", Arial
      :width 454px
      :color #333
    input.title
      :font-weight bold
      :font-size 16px
    .buttons
      :margin-top 10px
      :font-size 12px
      input, button
        :font-family Helvetica
        :font-size 12px
        :color #333
      a
        :color = #cc0000
    .options
      .row
        :margin-bottom 12px
      label
        :font-size 12px
        :color = #ece9de -130
#admin form
  :width auto
  :background-color transparent
  input.text
    :width 190px
    :padding 3px
    / :border = 1px solid (!dark_blue_alt -40)
    :border none
      :right = 1px solid (!dark_blue_alt -40)
      :bottom = 1px solid (!dark_blue_alt -40)
    :font
      :size 12px
      :family "Helvetica", Arial
      :weight bold
    :color = !blue +80
    :background-color = !dark_blue