/*------------------------------------------------------------------- =Includes
@import _reset.sass
@import _colors.sass
@import _mixins.sass
@import _flash.sass
@import _forms.sass
@import _ribbon.sass
@import _entry.sass

/*------------------------------------------------------------------- =Basics
body  
  :background-color #6e7b86
  :text-align center
.hide
  :display none !important
.clear
  :clear both
  

/*------------------------------------------------------------------- =Layout
#wrapper
  +cf
  :margin 45px auto 0
  :padding 0 5px
  :width 780px
  :background #5e6a75 url(/images/wrapper_bg.gif) top center no-repeat
  :font-family "Helvetica", Arial, Tahoma, sans-serif
  :text-align left
  
  #masthead
    +cf
    :width 760px
    :padding 0 15px 9px
    :margin 10px -5px 0px
    :background-color = !dark_blue -5
    :border-bottom = 1px dashed (!dark_blue -10)
    
    #logo_text
      +support_hover
      :float left
      :padding-right 8px
      :margin-right 4px
      :font-size 14px
      :font-weight bold
      :border-right = 1px dashed (!dark_blue -20)
      a
        :color = !dark_blue -30
        :text-decoration none
      &.hover, &:hover
        a
          :color #fff
    ul#navigation
      li
        :float left
        :display inline
        :font-size 12px
        :font-weight bold
        / :font-family "Trebuchet MS"
        a
          :position relative
          :top 1px
          :color = !blue +20
          :padding 0 8px
          :text-decoration none
          &:hover
            :color #fff
        &.on a
          :display inline
          :padding 6px 8px 8px
          :background-color = !dark_blue -25
          :color #fff
    #admin
      +cf
      :width 720px
      :padding 10px 15px
      :margin 4px 5px 5px
      :background-color = !dark_blue -25
      :font-size 12px
      .close_admin
        :float right
        a
          :padding 3px 6px
          :color #fff
          :text-decoration none
          :background-color #000
      h3
        :color = !light_blue
        :margin-bottom 10px
      ul#projects
        :float left
        :width 95%
        li.project
          +cf
          :width 100%
          :padding 6px 0
          :border-bottom = 1px dashed (!dark_blue -5)
          .name
            :width 350px
            :float left
            a
              :color = !blue +50
              :font-weight bold
            a.destroy
              :margin-right 3px
              :position relative
              :top 2px
          .meta
            :float left
            :padding 2px 0
            :font-size 11px
            :color = !dark_blue +20
        li#new_project
          :padding 6px 0
  
  #header, #page
    +cf
    +inside_wrapper
    :padding-bottom 10px
    :height auto
  #content
    +cf
    +inside_wrapper
    :background-color #fff
  #footer
    :width 790px
    :height 10px
    :margin 0 -5px
    :background #5e6a75 url(/images/footer_bg.gif) bottom center no-repeat
    

/*------------------------------------------------------------------- =Project_and_workspace_meta
.project_meta, .workspace_meta
  :float left
  :width 550px
  +cf
  h5.label
    :float left
    :margin-bottom 8px
    :padding 4px
    :font-size 11px
    :font-weight normal
    :text-transform uppercase
    :color #8b98a3
    :background-color = !dark_blue_alt
  h1.name
    :float left
    :margin-top 1px
    :margin-left 10px
    :font-size 18px
    :color #fff
    a
      :color #fff