/*------------------------------------------------------------------- =Includes
@import _reset.sass  
@import _mixins.sass
@import _breadcrumbs.sass
@import entries/_entry.sass
@import forms/_form.sass
/ @import _colors.sass
/ @import _flash.sass
/ @import _admin.sass
/ @import _ribbon.sass
/ @import _entry.sass
/ @import _dashboard.sass
/
/*------------------------------------------------------------------- =Basics
html
  / :overflow -moz-scrollbars-vertical
  :overflow-y scroll 
  / :overflow scroll-vertical
  
body  
  :background-color #dedede
  :text-align center
  :padding-top 15px
  :font-family Arial
.hide
  :display none !important
.clear
  :clear both
.soft_hide
  :margin 0
  :padding 0
h2.empty
  :color = #F4F3ED -70

/*------------------------------------------------------------------- =Skeleton

#header
  :display none
  :margin 0 auto 10px
  :width 960px
  :height 32px
  :background-color #d1d1d1
  :text-align left
  +border_radius_all(6px)
  ul.navigation
    :padding 3px 10px
    :font-size 12px
    li
      :float left
      :height 26px
      +support_hover
      a
        :color #666
        :line-height 26px
        :font-weight bold
        :text-decoration none
      &.hover, &:hover
        

#wrapper
  :width 960px
  :margin 0 auto
  :text-align left
  +cf
  #main
    :width 685px
    :margin 0 auto
    :float left
    :background-color #fff
    :-moz-border-radius 6px          
    .content
      :padding 10px
        
  #sidebar
    :width = 275px - 15px
    :padding-left 15px
    :float left
    :text-align left
    h1.section_title
      :padding-bottom 4px
      :margin-bottom 4px
      :font-size 10px
      :text-transform uppercase
      :color #999
      / :border-bottom 1px dashed #d0d0d0
      
    ul.workspaces
      :float left
      :width 100%
      :margin-bottom 15px
      li.workspace
        :float left
        :padding 2px 6px 2px 7px
        :margin 0 3px 3px 0
        :-moz-border-radius 6px
        :font-weight bold
        :font-size 12px
        :color #fff
        :background-color #f0f0f0
        :line-height 17px
        +support_hover
        a
          :color #555
          :text-decoration none
          :position relative
          :top -1px
        a.destroy
          :vertical-align baseline
          :margin-right 1px
          :position relative
          :top 1px
        &.hover, &:hover
          :background-color lightyellow
          :color #000
          :cursor pointer
          a
            :color #000
