%h4=flash[:notice]

-form_for(:session, :url => process_login_path) do |f|
  %p
    =f.label :email, t('certify.labels.email')
    =f.text_field :email
    
  %p
    =f.label :password, t('certify.labels.password')
    =f.password_field :password
  
  %p  
    %button{:type => "submit"}=t('certify.buttons.login')

/ <h1><%= t('certify.titles.login') %></h1>
/ 
/ <% form_for(:session, :url => process_login_path) do |f| %>
/ 
/   <fieldset>
/     <legend><%= t('certify.legends.login') %></legend>
/     
/     <div>
/       <%= f.label :email, t('certify.labels.email') %>
/       <%= f.text_field :email %>
/     </div>
/   
/     <div>
/       <%= f.label :password, t('certify.labels.password') %>
/       <%= f.password_field :password %>
/     </div>
/     
/     <div>
/       <%= f.label :remember_me, t('certify.labels.remember') %>
/       <%= f.check_box :remember_me %>
/     </div>
/   </fieldset>
/ 
/   <div>
/     <p>
/       <%= link_to t('certify.labels.lost_password'), recover_path %> |
/       <%= link_to t('certify.labels.register'), register_path %>
/       <button type="submit"><%= t('certify.buttons.login') %> &raquo;</button>
/     </p>
/   </div>
/ 
/ <% end %>
