/* ------------------------------------------------------------------- =Includes */
/* 
 * Reset
 * By Eric Meyers
 * //
 * PURPOSE:
 * Resets everything to zero for better browser compatibility */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, small, strike, strong, sub, sup, tt, var,
dfn, em, img, del, small, strike, strong, sub, sup, tt, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

blockquote {
  quotes: none; }

del {
  text-decoration: line-through; }

ol, ul {
  list-style: none; }

table {
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0; }

.error, .notice, .success {
  display: inline-block;
  padding: 10px;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  float: left;
  width: 726px; }
  .error:after,   .notice:after,   .success:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .error,   * html .notice,   * html .success {
    height: 1px; }

.error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4; }

.notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324; }

.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880; }

.error a {
  color: #8a1f11; }

.notice a {
  color: #514721; }

.success a {
  color: #264409; }

#entry_form, .form_area {
  float: left;
  width: 746px;
  height: auto;
  margin-bottom: 15px;
  background-color: #fff;
  border: 2px solid #ece9de; }
  #entry_form form,   .form_area form {
    float: left;
    overflow: hidden;
    /* =Form_layout */
    /* =Form_elements */ }
    #entry_form form .main,     .form_area form .main {
      float: left;
      width: 466px;
      padding: 15px; }
    #entry_form form .options,     .form_area form .options {
      float: right;
      width: 219px;
      padding: 15px 15px 1000px;
      margin-bottom: -1000px;
      background-color: #f8f5ea;
      border-left: 1px solid #ece9de; }
    #entry_form form .row, #entry_form form .buttons,     .form_area form .row, .form_area form .buttons {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      display: block; }
    #entry_form form span.legend,     .form_area form span.legend {
      margin: 0px 0 10px;
      float: left;
      width: 100%;
      font-size: 10px;
      font-weight: bold;
      background-color: transparent;
      display: block;
      color: #bab7ac;
      text-transform: uppercase; }
    #entry_form form label,     .form_area form label {
      display: block;
      margin-bottom: 3px;
      font-size: 14px;
      font-weight: bold;
      color: #666; }
      #entry_form form label .help,       .form_area form label .help {
        padding-left: 3px;
        font-size: 11px;
        font-weight: normal;
        color: #999; }
    #entry_form form input.text, #entry_form form input.title, #entry_form form input.password, #entry_form form textarea.body, #entry_form form textarea,     .form_area form input.text, .form_area form input.title, .form_area form input.password, .form_area form textarea.body, .form_area form textarea {
      border: 1px solid #ccc;
      border-right: 2px solid #bbb;
      border-bottom: 2px solid #bbb;
      padding: 4px;
      font-size: 14px;
      font-family: "Helvetica", Arial;
      width: 454px;
      color: #333; }
    #entry_form form input.title,     .form_area form input.title {
      font-weight: bold;
      font-size: 16px; }
    #entry_form form .buttons,     .form_area form .buttons {
      margin-top: 10px;
      font-size: 12px; }
      #entry_form form .buttons input, #entry_form form .buttons button,       .form_area form .buttons input, .form_area form .buttons button {
        font-family: Helvetica;
        font-size: 12px;
        color: #333; }
      #entry_form form .buttons a,       .form_area form .buttons a {
        color: #cc0000; }
    #entry_form form .options .row,     .form_area form .options .row {
      margin-bottom: 12px; }
    #entry_form form .options label,     .form_area form .options label {
      font-size: 12px;
      color: #6a675c; }

.panel form {
  width: auto;
  background-color: transparent; }
  .panel form input.text {
    width: 190px;
    padding: 3px;
    border: 1px solid #3a454e;
    font-size: 12px;
    font-family: "Helvetica", Arial;
    font-weight: bold;
    color: #fff;
    background-color: #5e6a75; }

#masthead {
  display: inline-block;
  width: 750px;
  padding: 5px 20px 4px;
  margin: 10px -5px 5px;
  background-color: #596570;
  border-bottom: 1px dashed #54606b;
  /* ---------------------------------------------------------------- =Logo_text */
  /* ---------------------------------------------------------------- = Navigation */
  /* ---------------------------------------------------------------- =Admin */ }
  #masthead:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #masthead {
    height: 1px; }
  #masthead #logo_text {
    _azimuth: expression(this.onmousedown = this.onmousedown || new Function("this.className += ' active'"), this.onmouseup = this.onmouseup || new Function("this.className = this.className.replace('active','')"), this.onmouseenter = this.onmouseenter || new Function("this.className += ' hover'"), this.onmouseleave = this.onmouseleave || new Function("this.className = this.className.replace('hover','')"), 'inherit');
    float: left;
    margin-top: 1px;
    padding-right: 8px;
    font-size: 16px;
    font-weight: bold; }
    #masthead #logo_text a {
      color: #a3aeb7;
      text-decoration: none; }
    #masthead #logo_text.hover a,     #masthead #logo_text:hover a {
      color: #fff; }
  #masthead ul#navigation, #masthead #admin_tabs {
    float: left;
    width: 643px;
    margin-top: 0; }
    #masthead ul#navigation li.admin,     #masthead #admin_tabs li.admin {
      position: relative;
      top: -5px;
      float: left;
      display: inline;
      margin-right: 5px;
      padding: 7px 10px 8px;
      font-size: 13px;
      font-weight: normal;
      font-family: "Helvetica", Arial;
      background-color: #54606b;
      display: inline-block; }
      #masthead ul#navigation li.admin:after,       #masthead #admin_tabs li.admin:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      * html #masthead ul#navigation li.admin,       * html #masthead #admin_tabs li.admin {
        height: 1px; }
      #masthead ul#navigation li.admin a,       #masthead #admin_tabs li.admin a {
        float: left;
        color: #828f9a;
        text-decoration: none;
        font-weight: bold; }
        #masthead ul#navigation li.admin a:hover,         #masthead #admin_tabs li.admin a:hover {
          color: #fff; }
      #masthead ul#navigation li.admin a.close_admin,       #masthead #admin_tabs li.admin a.close_admin {
        display: none;
        float: left;
        margin-left: 6px;
        margin-top: 2px;
        font-size: 10px;
        text-decoration: none; }
      #masthead ul#navigation li.admin.on,       #masthead #admin_tabs li.admin.on {
        background-color: #45515c;
        padding-bottom: 13px; }
        #masthead ul#navigation li.admin.on a,         #masthead #admin_tabs li.admin.on a {
          color: #fff;
          font-weight: bold; }
        #masthead ul#navigation li.admin.on .close_admin,         #masthead #admin_tabs li.admin.on .close_admin {
          display: inline; }
          #masthead ul#navigation li.admin.on .close_admin a,           #masthead #admin_tabs li.admin.on .close_admin a {
            color: #909ca7; }
    #masthead ul#navigation li#nav_account,     #masthead #admin_tabs li#nav_account {
      float: right; }
      #masthead ul#navigation li#nav_account ul li,       #masthead #admin_tabs li#nav_account ul li {
        float: left;
        margin-left: 15px; }
        #masthead ul#navigation li#nav_account ul li a,         #masthead #admin_tabs li#nav_account ul li a {
          display: inline;
          font-size: 12px;
          font-weight: bold;
          color: #828f9a;
          text-decoration: none; }
          #masthead ul#navigation li#nav_account ul li a:hover,           #masthead #admin_tabs li#nav_account ul li a:hover {
            color: #fff; }
  #masthead #admin, #masthead .admin_section, #masthead .panel {
    display: inline-block;
    width: 720px;
    padding: 10px 15px;
    margin: -6px 0px 15px;
    background-color: #45515c;
    font-size: 12px; }
    #masthead #admin:after,     #masthead .admin_section:after,     #masthead .panel:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #masthead #admin,     * html #masthead .admin_section,     * html #masthead .panel {
      height: 1px; }
    #masthead #admin h3,     #masthead .admin_section h3,     #masthead .panel h3 {
      color: #eef5f7;
      margin-bottom: 10px; }
    #masthead #admin ul#projects,     #masthead .admin_section ul#projects,     #masthead .panel ul#projects {
      float: left;
      width: 100%; }
      #masthead #admin ul#projects li.project,       #masthead .admin_section ul#projects li.project,       #masthead .panel ul#projects li.project {
        display: inline-block;
        width: 100%;
        padding: 0 0 7px;
        margin: 0 0 7px;
        border-bottom: 1px dashed #596570; }
        #masthead #admin ul#projects li.project:after,         #masthead .admin_section ul#projects li.project:after,         #masthead .panel ul#projects li.project:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        * html #masthead #admin ul#projects li.project,         * html #masthead .admin_section ul#projects li.project,         * html #masthead .panel ul#projects li.project {
          height: 1px; }
        #masthead #admin ul#projects li.project .name,         #masthead .admin_section ul#projects li.project .name,         #masthead .panel ul#projects li.project .name {
          width: 350px;
          float: left; }
          #masthead #admin ul#projects li.project .name a,           #masthead .admin_section ul#projects li.project .name a,           #masthead .panel ul#projects li.project .name a {
            color: #a0adb8;
            font-weight: bold;
            text-decoration: none; }
            #masthead #admin ul#projects li.project .name a:hover,             #masthead .admin_section ul#projects li.project .name a:hover,             #masthead .panel ul#projects li.project .name a:hover {
              color: #fff; }
          #masthead #admin ul#projects li.project .name a.destroy,           #masthead .admin_section ul#projects li.project .name a.destroy,           #masthead .panel ul#projects li.project .name a.destroy {
            margin-right: 3px;
            position: relative;
            top: 2px; }
        #masthead #admin ul#projects li.project .meta,         #masthead .admin_section ul#projects li.project .meta,         #masthead .panel ul#projects li.project .meta {
          float: left;
          padding: 2px 0;
          font-size: 11px;
          color: #727e89; }
    #masthead #admin #new_project_form,     #masthead .admin_section #new_project_form,     #masthead .panel #new_project_form {
      display: block;
      padding: 0 0 7px;
      margin: 0 0 0;
      display: inline-block; }
      #masthead #admin #new_project_form:after,       #masthead .admin_section #new_project_form:after,       #masthead .panel #new_project_form:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      * html #masthead #admin #new_project_form,       * html #masthead .admin_section #new_project_form,       * html #masthead .panel #new_project_form {
        height: 1px; }

ul.ribbon {
  float: left;
  width: 780px;
  height: 39px;
  margin: -15px -15px 15px;
  padding: 0;
  background: #eae2c7 url(/images/ribbon_bg.gif) top left repeat-x;
  border-bottom: 1px solid #cbc3a8; }
  ul.ribbon li {
    float: left;
    margin-right: 3px;
    _azimuth: expression(this.onmousedown = this.onmousedown || new Function("this.className += ' active'"), this.onmouseup = this.onmouseup || new Function("this.className = this.className.replace('active','')"), this.onmouseenter = this.onmouseenter || new Function("this.className += ' hover'"), this.onmouseleave = this.onmouseleave || new Function("this.className = this.className.replace('hover','')"), 'inherit'); }
    ul.ribbon li a, ul.ribbon li span {
      float: left;
      height: 39px; }
    ul.ribbon li a {
      font-size: 14px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      background: url(/images/ribbon_item_right_bg.gif) top right no-repeat;
      outline: 0; }
      ul.ribbon li a span {
        padding: 0 10px;
        line-height: 43px;
        background: url(/images/ribbon_item_left_bg.gif) top left no-repeat; }
    ul.ribbon li.hover a,     ul.ribbon li:hover a {
      background-image: url(/images/ribbon_item_right_bg_on.gif); }
      ul.ribbon li.hover a span,       ul.ribbon li:hover a span {
        background-image: url(/images/ribbon_item_left_bg_on.gif); }
    ul.ribbon li.active a,     ul.ribbon li:active a {
      background-image: url(/images/ribbon_item_right_bg_act.gif); }
      ul.ribbon li.active a span,       ul.ribbon li:active a span {
        background-image: url(/images/ribbon_item_left_bg_act.gif); }
  ul.ribbon li.create_label {
    width: 42px;
    height: 39px;
    margin-right: 8px;
    background: url(/images/ribbon_create_label_bg.gif) top left no-repeat; }

/* ------------------------------------------------------------------- =Entries */
#entries, #entry {
  display: inline-block;
  width: 750px;
  padding: 15px;
  margin: -15px -15px 0;
  background-color: #f4f3ed;
  border-top: 1px solid #ece9de;
  /* ----------------------------------------------------------------- =Entry_type_label_variations */
  /* ----------------------------------------------------------------- =Entry_type_formatting */ }
  #entries:after,   #entry:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #entries,   * html #entry {
    height: 1px; }
  #entries a,   #entry a {
    color: #5f84a4; }
  #entries .entry,   #entry .entry {
    display: inline-block;
    width: 720px;
    padding: 15px;
    margin: 0 0 5px;
    background-color: #fff;
    border-bottom: 2px solid #ece9de;
    /* --------------------------------------------------------------- =Entry_type_labels */
    /* --------------------------------------------------------------- =Entry_basic_formatting */
    /* --------------------------------------------------------------- =Entry_options */ }
    #entries .entry:after,     #entry .entry:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #entries .entry,     * html #entry .entry {
      height: 1px; }
    #entries .entry ul.type,     #entry .entry ul.type {
      float: left;
      width: 80px;
      padding-right: 15px;
      text-align: right; }
      #entries .entry ul.type li.label,       #entry .entry ul.type li.label {
        float: right;
        background-position: top right;
        background-repeat: no-repeat;
        height: 19px; }
        #entries .entry ul.type li.label span,         #entry .entry ul.type li.label span {
          float: left;
          height: 19px;
          padding: 0 6px;
          line-height: 21px;
          color: #fff;
          font-size: 10px;
          font-weight: bold;
          text-transform: uppercase;
          background-position: top left;
          background-repeat: no-repeat; }
    #entries .entry .content,     #entry .entry .content {
      float: left;
      width: 475px;
      padding-right: 15px; }
      #entries .entry .content .body h3,       #entry .entry .content .body h3 {
        margin-top: 2px;
        margin-bottom: 10px; }
      #entries .entry .content .body p,       #entry .entry .content .body p {
        padding-bottom: 10px;
        font-size: 14px;
        line-height: 18px;
        color: #333; }
      #entries .entry .content .meta,       #entry .entry .content .meta {
        font-size: 11px;
        color: #999; }
        #entries .entry .content .meta .actions,         #entry .entry .content .meta .actions {
          font-weight: bold; }
        #entries .entry .content .meta .project a,         #entry .entry .content .meta .project a {
          color: #777;
          text-decoration: none; }
          #entries .entry .content .meta .project a:hover,           #entry .entry .content .meta .project a:hover {
            text-decoration: underline; }
    #entries .entry .options,     #entry .entry .options {
      float: left;
      width: 135px; }
      #entries .entry .options .group,       #entry .entry .options .group {
        float: left;
        width: 100%;
        display: block;
        font-size: 11px;
        font-weight: normal;
        color: #ddd;
        margin-bottom: 3px;
        padding-bottom: 3px;
        border-bottom: 1px dotted #d9d9d9; }
        #entries .entry .options .group a,         #entry .entry .options .group a {
          font-weight: bold;
          text-decoration: none; }
          #entries .entry .options .group a:hover,           #entry .entry .options .group a:hover {
            color: #000; }
        #entries .entry .options .group a.neg:hover,         #entry .entry .options .group a.neg:hover {
          color: #cc0000; }
      #entries .entry .options .user,       #entry .entry .options .user {
        color: #aaa; }
  #entries .note ul.type li.label,
  #entries .milestone ul.type li.label,   #entry .note ul.type li.label,
  #entry .milestone ul.type li.label {
    background-image: url(/images/type_label_right_grn_bg.gif); }
    #entries .note ul.type li.label span,
    #entries .milestone ul.type li.label span,     #entry .note ul.type li.label span,
    #entry .milestone ul.type li.label span {
      background-image: url(/images/type_label_left_grn_bg.gif); }
  #entries .task ul.type li.label,   #entry .task ul.type li.label {
    background-image: url(/images/type_label_right_blu_bg.gif); }
    #entries .task ul.type li.label span,     #entry .task ul.type li.label span {
      background-image: url(/images/type_label_left_blu_bg.gif); }
  #entries .task .content .body h3,   #entry .task .content .body h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 0;
    line-height: 19px; }
    #entries .task .content .body h3 span.due,     #entry .task .content .body h3 span.due {
      padding-left: 4px;
      font-size: 11px;
      font-weight: bold;
      color: #999; }
  #entries .task .content .meta,   #entry .task .content .meta {
    margin-top: 6px; }
  #entries .note .content .body h3,   #entry .note .content .body h3 {
    margin-top: 0px;
    font-size: 18px;
    line-height: 20px; }

.dashboard h1.section {
  font-size: 14px;
  color: #999;
  margin-bottom: 15px; }

/* ------------------------------------------------------------------- =Basics */
body {
  background-color: #6e7b86;
  text-align: center; }

.hide {
  display: none !important; }

.clear {
  clear: both; }

a.at_tag {
  display: inline;
  font-weight: bold;
  font-size: 14px;
  color: #6e7b86;
  text-decoration: none !important; }
  a.at_tag .at_symbol {
    color: #a0adb8; }
  a.at_tag:hover {
    color: #000 !important; }

/* ------------------------------------------------------------------- =Skeleton */
#wrapper {
  display: inline-block;
  margin: 45px auto 0;
  padding: 0 5px;
  width: 780px;
  background: #5e6a75 url(/images/wrapper_bg.gif) top center no-repeat;
  font-family: "Helvetica", Arial, Tahoma, sans-serif;
  text-align: left; }
  #wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #wrapper {
    height: 1px; }
  #wrapper #header, #wrapper #page {
    display: inline-block;
    width: 750px;
    padding: 15px;
    padding-bottom: 10px;
    height: auto; }
    #wrapper #header:after,     #wrapper #page:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #wrapper #header,     * html #wrapper #page {
      height: 1px; }
  #wrapper #content {
    display: inline-block;
    width: 750px;
    padding: 15px;
    background-color: #fff; }
    #wrapper #content:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #wrapper #content {
      height: 1px; }
  #wrapper #footer {
    width: 790px;
    height: 10px;
    margin: 0 -5px;
    background: #5e6a75 url(/images/footer_bg.gif) bottom center no-repeat; }

/* ------------------------------------------------------------------- =Page_meta */
#page {
  float: left;
  width: 550px;
  margin-top: -4px;
  display: inline-block; }
  #page:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #page {
    height: 1px; }
  #page h5.label {
    float: left;
    margin-bottom: 10px;
    height: 23px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #a9b6c1;
    background-color: #535e67;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(/images/page_label_left.gif); }
    #page h5.label span {
      float: left;
      padding-left: 8px;
      padding-right: 16px;
      height: 23px;
      line-height: 24px;
      background-position: top right;
      background-repeat: no-repeat;
      background-image: url(/images/page_label_right.gif); }
  #page h1.name {
    float: left;
    margin-top: 3px;
    margin-left: 8px;
    font-size: 18px;
    color: #fff; }
    #page h1.name a {
      color: #fff; }
  #page.dashboard h5.label {
    font-weight: bold;
    color: #fff; }
  #page.workspace h1.name {
    text-transform: capitalize; }
    #page.workspace h1.name span.sub {
      padding-left: 5px;
      font-size: 12px;
      color: #8c99a4; }
