/* ------------------------------------------------------------------- =Includes */
/* 
 * Reset
 * By Eric Meyers
 * //
 * PURPOSE:
 * Resets everything to zero for better browser compatibility */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, small, strike, strong, sub, sup, tt, var,
dfn, em, img, del, small, strike, strong, sub, sup, tt, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

blockquote {
  quotes: none; }

del {
  text-decoration: line-through; }

ol, ul {
  list-style: none; }

table {
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0; }

.error, .notice, .success {
  display: inline-block;
  padding: 10px;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  float: left;
  width: 726px; }
  .error:after,   .notice:after,   .success:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .error,   * html .notice,   * html .success {
    height: 1px; }

.error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4; }

.notice {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324; }

.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880; }

.error a {
  color: #8a1f11; }

.notice a {
  color: #514721; }

.success a {
  color: #264409; }

#entry_form, .form_area {
  float: left;
  width: 746px;
  height: auto;
  margin-bottom: 15px;
  background-color: #fff;
  border: 2px solid #ece9de; }
  #entry_form form,   .form_area form {
    float: left;
    overflow: hidden;
    /* =Form_layout */
    /* =Form_elements */ }
    #entry_form form .main,     .form_area form .main {
      float: left;
      width: 466px;
      padding: 15px; }
    #entry_form form .options,     .form_area form .options {
      float: right;
      width: 219px;
      padding: 15px 15px 1000px;
      margin-bottom: -1000px;
      background-color: #f8f5ea;
      border-left: 1px solid #ece9de; }
    #entry_form form .row, #entry_form form .buttons,     .form_area form .row, .form_area form .buttons {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      display: block; }
    #entry_form form span.legend,     .form_area form span.legend {
      margin: 0px 0 10px;
      float: left;
      width: 100%;
      font-size: 10px;
      font-weight: bold;
      background-color: transparent;
      display: block;
      color: #bab7ac;
      text-transform: uppercase; }
    #entry_form form label,     .form_area form label {
      display: block;
      margin-bottom: 3px;
      font-size: 14px;
      font-weight: bold;
      color: #666; }
      #entry_form form label .help,       .form_area form label .help {
        padding-left: 3px;
        font-size: 11px;
        font-weight: normal;
        color: #999; }
    #entry_form form input.text, #entry_form form input.title, #entry_form form input.password, #entry_form form textarea.body, #entry_form form textarea,     .form_area form input.text, .form_area form input.title, .form_area form input.password, .form_area form textarea.body, .form_area form textarea {
      border: 1px solid #ccc;
      border-right: 2px solid #bbb;
      border-bottom: 2px solid #bbb;
      padding: 4px;
      font-size: 14px;
      font-family: "Helvetica", Arial;
      width: 454px;
      color: #333; }
    #entry_form form input.title,     .form_area form input.title {
      font-weight: bold;
      font-size: 16px; }
    #entry_form form .buttons,     .form_area form .buttons {
      margin-top: 10px;
      font-size: 12px; }
      #entry_form form .buttons input, #entry_form form .buttons button,       .form_area form .buttons input, .form_area form .buttons button {
        font-family: Helvetica;
        font-size: 12px;
        color: #333; }
      #entry_form form .buttons a,       .form_area form .buttons a {
        color: #cc0000; }
    #entry_form form .options .row,     .form_area form .options .row {
      margin-bottom: 12px; }
    #entry_form form .options label,     .form_area form .options label {
      font-size: 12px;
      color: #6a675c; }

.panel form {
  width: auto;
  background-color: transparent; }
  .panel form input.text {
    width: 190px;
    padding: 3px;
    border: 1px solid #3a454e;
    font-size: 12px;
    font-family: "Helvetica", Arial;
    font-weight: bold;
    color: #fff;
    background-color: #5e6a75; }

#admin_tabs {
  float: left;
  width: 643px;
  margin-top: 0; }
  #admin_tabs li.admin {
    position: relative;
    top: -5px;
    float: left;
    display: inline;
    margin-right: 5px;
    padding: 7px 10px 8px;
    font-size: 13px;
    font-weight: normal;
    font-family: "Helvetica", Arial;
    background-color: #54606b;
    display: inline-block; }
    #admin_tabs li.admin:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #admin_tabs li.admin {
      height: 1px; }
    #admin_tabs li.admin a {
      float: left;
      color: #828f9a;
      text-decoration: none;
      font-weight: bold; }
      #admin_tabs li.admin a:hover {
        color: #fff; }
    #admin_tabs li.admin a.close_admin {
      display: none;
      float: left;
      margin-left: 6px;
      margin-top: 2px;
      font-size: 10px;
      text-decoration: none; }
    #admin_tabs li.admin.on {
      background-color: #45515c;
      padding-bottom: 13px; }
      #admin_tabs li.admin.on a {
        color: #fff;
        font-weight: bold; }
      #admin_tabs li.admin.on .close_admin {
        display: inline; }
        #admin_tabs li.admin.on .close_admin a {
          color: #909ca7; }

.panel #workspaces .context, .panel #projects .context {
  float: left;
  width: 100%; }
.panel #workspaces ul, .panel #projects ul {
  display: inline-block;
  margin-bottom: 15px; }
  .panel #workspaces ul:after,   .panel #projects ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .panel #workspaces ul,   * html .panel #projects ul {
    height: 1px; }
  .panel #workspaces ul li.nav,   .panel #projects ul li.nav {
    margin-right: 12px;
    float: left;
    font-weight: bold;
    font-size: 14px; }
    .panel #workspaces ul li.nav a,     .panel #projects ul li.nav a {
      color: #6e7b86; }
  .panel #workspaces ul li.on a,   .panel #projects ul li.on a {
    color: #fff;
    text-decoration: none !important; }

#admin {
  display: inline-block;
  width: 750px;
  padding: 5px 20px 4px;
  margin: 10px -5px 5px;
  background-color: #596570;
  border-bottom: 1px dashed #54606b; }
  #admin:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #admin {
    height: 1px; }
  #admin .panel {
    display: inline-block;
    width: 720px;
    padding: 15px 15px 10px;
    margin: -6px 0px 15px;
    background-color: #45515c;
    font-size: 12px; }
    #admin .panel:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #admin .panel {
      height: 1px; }
    #admin .panel h3 {
      color: #eef5f7;
      margin-bottom: 10px; }
    #admin .panel #workspaces .context,     #admin .panel #projects .context {
      float: left;
      width: 100%; }
    #admin .panel #workspaces li.workspace {
      _azimuth: expression(this.onmousedown = this.onmousedown || new Function("this.className += ' active'"), this.onmouseup = this.onmouseup || new Function("this.className = this.className.replace('active','')"), this.onmouseenter = this.onmouseenter || new Function("this.className += ' hover'"), this.onmouseleave = this.onmouseleave || new Function("this.className = this.className.replace('hover','')"), 'inherit');
      float: left;
      margin: 0 5px 5px 0;
      padding: 5px 8px;
      font-weight: bold;
      background-color: #4e5b67; }
      #admin .panel #workspaces li.workspace a {
        color: #b9c5d0; }
      #admin .panel #workspaces li.workspace span.name, #admin .panel #workspaces li.workspace span.has_project {
        float: left; }
      #admin .panel #workspaces li.workspace span.has_project {
        position: relative;
        top: 4px;
        margin-right: 5px;
        font-size: 16px;
        line-height: 12px;
        color: #8c9dac; }
      #admin .panel #workspaces li.workspace:hover, #admin .panel #workspaces li.workspace.hover {
        background: #3c4955; }
    #admin .panel #projects ul.projects {
      float: left;
      width: 100%; }
      #admin .panel #projects ul.projects li.project {
        display: inline-block;
        width: 100%;
        padding: 0 0 6px;
        margin: 0 0 6px;
        border-bottom: 1px dashed #596570; }
        #admin .panel #projects ul.projects li.project:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        * html #admin .panel #projects ul.projects li.project {
          height: 1px; }
        #admin .panel #projects ul.projects li.project .name {
          width: 300px;
          float: left; }
          #admin .panel #projects ul.projects li.project .name a {
            color: #a0adb8;
            font-weight: bold;
            text-decoration: none; }
            #admin .panel #projects ul.projects li.project .name a:hover {
              color: #fff; }
          #admin .panel #projects ul.projects li.project .name a.destroy {
            margin-right: 3px;
            position: relative;
            top: 2px; }
        #admin .panel #projects ul.projects li.project .meta {
          float: left;
          padding: 2px 0;
          font-size: 11px;
          color: #727e89; }

ul.ribbon {
  float: left;
  width: 780px;
  height: 39px;
  margin: -15px -15px 15px;
  padding: 0;
  background: #eae2c7 url(/images/ribbon_bg.gif) top left repeat-x;
  border-bottom: 1px solid #cbc3a8; }
  ul.ribbon li {
    float: left;
    margin-right: 3px;
    _azimuth: expression(this.onmousedown = this.onmousedown || new Function("this.className += ' active'"), this.onmouseup = this.onmouseup || new Function("this.className = this.className.replace('active','')"), this.onmouseenter = this.onmouseenter || new Function("this.className += ' hover'"), this.onmouseleave = this.onmouseleave || new Function("this.className = this.className.replace('hover','')"), 'inherit'); }
    ul.ribbon li a, ul.ribbon li span {
      float: left;
      height: 39px; }
    ul.ribbon li a {
      font-size: 14px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      background: url(/images/ribbon_item_right_bg.gif) top right no-repeat;
      outline: 0; }
      ul.ribbon li a span {
        padding: 0 10px;
        line-height: 43px;
        background: url(/images/ribbon_item_left_bg.gif) top left no-repeat; }
    ul.ribbon li.hover a,     ul.ribbon li:hover a {
      background-image: url(/images/ribbon_item_right_bg_on.gif); }
      ul.ribbon li.hover a span,       ul.ribbon li:hover a span {
        background-image: url(/images/ribbon_item_left_bg_on.gif); }
    ul.ribbon li.active a,     ul.ribbon li:active a {
      background-image: url(/images/ribbon_item_right_bg_act.gif); }
      ul.ribbon li.active a span,       ul.ribbon li:active a span {
        background-image: url(/images/ribbon_item_left_bg_act.gif); }
  ul.ribbon li.create_label {
    width: 42px;
    height: 39px;
    margin-right: 8px;
    background: url(/images/ribbon_create_label_bg.gif) top left no-repeat; }

/* ------------------------------------------------------------------- =Entries */
#entries, #entry {
  display: inline-block;
  width: 750px;
  padding: 15px;
  margin: -15px -15px 0;
  background-color: #f4f3ed;
  border-top: 1px solid #ece9de;
  /* ----------------------------------------------------------------- =Entry_type_label_variations */
  /* ----------------------------------------------------------------- =Entry_type_formatting */ }
  #entries:after,   #entry:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #entries,   * html #entry {
    height: 1px; }
  #entries a,   #entry a {
    color: #5f84a4; }
  #entries .entry,   #entry .entry {
    display: inline-block;
    width: 720px;
    padding: 15px;
    margin: 0 0 5px;
    background-color: #fff;
    border-bottom: 2px solid #ece9de;
    /* --------------------------------------------------------------- =Entry_type_labels */
    /* --------------------------------------------------------------- =Entry_basic_formatting */
    /* --------------------------------------------------------------- =Entry_options */ }
    #entries .entry:after,     #entry .entry:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #entries .entry,     * html #entry .entry {
      height: 1px; }
    #entries .entry ul.type,     #entry .entry ul.type {
      float: left;
      width: 80px;
      padding-right: 15px;
      text-align: right;
      font-family: Arial !important; }
      #entries .entry ul.type li.label,       #entry .entry ul.type li.label {
        float: right;
        background-position: top right;
        background-repeat: no-repeat;
        height: 15px; }
        #entries .entry ul.type li.label span,         #entry .entry ul.type li.label span {
          float: left;
          height: 15px;
          padding: 3px 4px 0;
          color: #fff;
          font-size: 9px;
          font-weight: bold;
          text-transform: uppercase;
          background-position: top left;
          background-repeat: no-repeat; }
    #entries .entry .content,     #entry .entry .content {
      float: left;
      width: 475px;
      padding-right: 15px; }
      #entries .entry .content .body h3,       #entry .entry .content .body h3 {
        margin-top: 0px;
        margin-bottom: 10px; }
      #entries .entry .content .body p,       #entry .entry .content .body p {
        padding-bottom: 10px;
        font-size: 14px;
        line-height: 18px;
        color: #333; }
      #entries .entry .content .meta,       #entry .entry .content .meta {
        font-size: 11px;
        color: #999; }
        #entries .entry .content .meta .actions,         #entry .entry .content .meta .actions {
          font-weight: bold; }
        #entries .entry .content .meta .project a,         #entry .entry .content .meta .project a {
          color: #777;
          text-decoration: none; }
          #entries .entry .content .meta .project a:hover,           #entry .entry .content .meta .project a:hover {
            text-decoration: underline; }
      #entries .entry .content ul.workspaces,       #entry .entry .content ul.workspaces {
        float: left;
        width: 100%;
        margin-bottom: 10px; }
        #entries .entry .content ul.workspaces li,         #entry .entry .content ul.workspaces li {
          float: left;
          margin-right: 8px; }
          #entries .entry .content ul.workspaces li a.remove_collection,           #entry .entry .content ul.workspaces li a.remove_collection {
            position: relative;
            top: -1px;
            margin-right: 0;
            padding: 0;
            padding: 1px 3px 0px;
            color: #aaa;
            font-size: 10px;
            text-decoration: none;
            background-color: #eee;
            border: 1px solid #e0e0e0; }
            #entries .entry .content ul.workspaces li a.remove_collection:hover,             #entry .entry .content ul.workspaces li a.remove_collection:hover {
              color: #fff;
              background-color: #aa0000;
              border-color: #aa0000; }
          #entries .entry .content ul.workspaces li a.at_tag,           #entry .entry .content ul.workspaces li a.at_tag {
            display: inline;
            font-weight: bold;
            font-size: 14px;
            color: #6e7b86;
            text-decoration: none !important; }
            #entries .entry .content ul.workspaces li a.at_tag .at_symbol,             #entry .entry .content ul.workspaces li a.at_tag .at_symbol {
              color: #a0adb8; }
            #entries .entry .content ul.workspaces li a.at_tag:hover,             #entry .entry .content ul.workspaces li a.at_tag:hover {
              color: #000 !important; }
              #entries .entry .content ul.workspaces li a.at_tag:hover .remove_ws,               #entry .entry .content ul.workspaces li a.at_tag:hover .remove_ws {
                color: #fff;
                background-color: #aa0000;
                border-color: #fff; }
          #entries .entry .content ul.workspaces li a.invalid_at_tag span,           #entry .entry .content ul.workspaces li a.invalid_at_tag span {
            color: #bbb !important; }
          #entries .entry .content ul.workspaces li a.invalid_at_tag:hover span,           #entry .entry .content ul.workspaces li a.invalid_at_tag:hover span {
            color: #666 !important; }
        #entries .entry .content ul.workspaces.task_workspaces,         #entry .entry .content ul.workspaces.task_workspaces {
          margin-top: 5px; }
    #entries .entry .options,     #entry .entry .options {
      float: left;
      width: 135px; }
      #entries .entry .options .group,       #entry .entry .options .group {
        float: left;
        width: 100%;
        display: block;
        font-size: 11px;
        font-weight: normal;
        color: #ddd;
        margin-bottom: 3px;
        padding-bottom: 3px;
        border-bottom: 1px dotted #d9d9d9; }
        #entries .entry .options .group a,         #entry .entry .options .group a {
          font-weight: bold;
          text-decoration: none; }
          #entries .entry .options .group a:hover,           #entry .entry .options .group a:hover {
            color: #000; }
        #entries .entry .options .group a.neg:hover,         #entry .entry .options .group a.neg:hover {
          color: #cc0000; }
      #entries .entry .options .user,       #entry .entry .options .user {
        color: #aaa; }
  #entries .note ul.type li.label,
  #entries .milestone ul.type li.label,   #entry .note ul.type li.label,
  #entry .milestone ul.type li.label {
    background-image: url(/images/type_label_right_grn_bg.gif); }
    #entries .note ul.type li.label span,
    #entries .milestone ul.type li.label span,     #entry .note ul.type li.label span,
    #entry .milestone ul.type li.label span {
      background-image: url(/images/type_label_left_grn_bg.gif); }
  #entries .task ul.type li.label,   #entry .task ul.type li.label {
    background-image: url(/images/type_label_right_blue_bg.gif); }
    #entries .task ul.type li.label span,     #entry .task ul.type li.label span {
      background-image: url(/images/type_label_left_blue_bg.gif); }
  #entries .task .content .body h3,   #entry .task .content .body h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 0;
    line-height: 19px; }
    #entries .task .content .body h3 span.due,     #entry .task .content .body h3 span.due {
      padding-left: 4px;
      font-size: 11px;
      font-weight: bold;
      color: #999; }
  #entries .task .content .meta,   #entry .task .content .meta {
    margin-top: 6px; }
  #entries .note .content .body h3,   #entry .note .content .body h3 {
    margin-top: 0px;
    font-size: 18px;
    line-height: 20px; }

.dashboard h1.section {
  font-size: 14px;
  color: #999;
  margin-bottom: 15px; }

/* ------------------------------------------------------------------- =Basics */
html {
  overflow-y: scroll; }

body {
  background-color: #6e7b86;
  text-align: center; }

.hide {
  display: none !important; }

.clear {
  clear: both; }

/* ------------------------------------------------------------------- =Skeleton */
#wrapper {
  display: inline-block;
  margin: 45px auto 0;
  padding: 0 5px;
  width: 780px;
  background: #5e6a75 url(/images/wrapper_bg.gif) top center no-repeat;
  font-family: "Helvetica", Arial, Tahoma, sans-serif;
  text-align: left; }
  #wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #wrapper {
    height: 1px; }
  #wrapper #header, #wrapper #page {
    display: inline-block;
    width: 750px;
    padding: 15px;
    padding-bottom: 10px;
    height: auto; }
    #wrapper #header:after,     #wrapper #page:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #wrapper #header,     * html #wrapper #page {
      height: 1px; }
  #wrapper #content {
    display: inline-block;
    width: 750px;
    padding: 15px;
    background-color: #fff; }
    #wrapper #content:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #wrapper #content {
      height: 1px; }
  #wrapper #footer {
    width: 790px;
    height: 10px;
    margin: 0 -5px;
    background: #5e6a75 url(/images/footer_bg.gif) bottom center no-repeat; }

/* ------------------------------------------------------------------- =Page_meta */
#page {
  float: left;
  width: 550px;
  padding-top: 0px !important;
  padding-bottom: 10px !important;
  margin: 10px 0;
  display: inline-block; }
  #page:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #page {
    height: 1px; }
  #page h5.label {
    float: left;
    height: 23px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #a9b6c1;
    background-color: #535e67;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(/images/page_label_left.gif); }
    #page h5.label span {
      float: left;
      padding-left: 8px;
      padding-right: 16px;
      height: 23px;
      line-height: 24px;
      background-position: top right;
      background-repeat: no-repeat;
      background-image: url(/images/page_label_right.gif); }
  #page h1.name {
    float: left;
    margin-top: 4px;
    margin-left: 8px;
    font-size: 18px;
    color: #fff; }
    #page h1.name a {
      color: #fff; }
  #page.dashboard h5.label {
    font-weight: bold;
    color: #fff; }
  #page.workspace h5.label {
    color: #c7d4df;
    background-image: url(/images/page_label_alt_left.gif) !important; }
    #page.workspace h5.label span {
      background-image: url(/images/page_label_alt_right.gif) !important; }
  #page.workspace h1.name {
    text-transform: capitalize; }
    #page.workspace h1.name span.sub {
      padding-left: 2px;
      font-size: 12px;
      color: #8c99a4;
      text-transform: lowercase !important; }
    #page.workspace h1.name span.project {
      font-size: 14px;
      text-transform: capitalize !important; }
      #page.workspace h1.name span.project a {
        color: #a0adb8;
        text-decoration: none; }
        #page.workspace h1.name span.project a:hover {
          text-decoration: underline; }
