/* 
 * Reset
 * By Eric Meyers
 * //
 * PURPOSE:
 * Resets everything to zero for better browser compatibility */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, small, strike, strong, sub, sup, tt, var,
dfn, em, img, del, small, strike, strong, sub, sup, tt, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

blockquote {
  quotes: none; }

del {
  text-decoration: line-through; }

ol, ul {
  list-style: none; }

table {
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0; }

#entry_form, .form_area {
  float: left;
  width: 746px;
  height: auto;
  margin-bottom: 15px;
  background-color: #fff;
  border: 2px solid #ece9de; }
  #entry_form form,   .form_area form {
    float: left;
    overflow: hidden;
    /* =Form_layout */
    /* =Form_elements */ }
    #entry_form form .main,     .form_area form .main {
      float: left;
      width: 466px;
      padding: 15px; }
    #entry_form form .options,     .form_area form .options {
      float: right;
      width: 219px;
      padding: 15px 15px 1000px;
      margin-bottom: -1000px;
      background-color: #f8f5ea;
      border-left: 1px solid #ece9de; }
    #entry_form form .row, #entry_form form .buttons,     .form_area form .row, .form_area form .buttons {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      display: block; }
    #entry_form form span.legend,     .form_area form span.legend {
      margin: 0px 0 10px;
      float: left;
      width: 100%;
      font-size: 10px;
      font-weight: bold;
      background-color: transparent;
      display: block;
      color: #bab7ac;
      text-transform: uppercase; }
    #entry_form form label,     .form_area form label {
      display: block;
      margin-bottom: 3px;
      font-size: 14px;
      font-weight: bold;
      color: #666; }
      #entry_form form label .help,       .form_area form label .help {
        padding-left: 3px;
        font-size: 11px;
        font-weight: normal;
        color: #999; }
    #entry_form form input.text, #entry_form form input.title, #entry_form form input.password, #entry_form form textarea.body, #entry_form form textarea,     .form_area form input.text, .form_area form input.title, .form_area form input.password, .form_area form textarea.body, .form_area form textarea {
      border: 1px solid #ccc;
      border-right: 2px solid #bbb;
      border-bottom: 2px solid #bbb;
      padding: 4px;
      font-size: 14px;
      font-family: "Helvetica", Arial;
      width: 454px;
      color: #333; }
    #entry_form form textarea,     .form_area form textarea {
      line-height: 20px; }
    #entry_form form input.title,     .form_area form input.title {
      font-weight: bold;
      font-size: 16px; }
    #entry_form form textarea#entry_note_attributes_body,     .form_area form textarea#entry_note_attributes_body {
      min-height: 105px;
      max-height: 500px; }
    #entry_form form textarea#entry_task_attributes_description,     .form_area form textarea#entry_task_attributes_description {
      height: 52px;
      min-height: 52px;
      max-height: 78px; }
    #entry_form form .buttons,     .form_area form .buttons {
      margin-top: 10px;
      font-size: 12px; }
      #entry_form form .buttons input, #entry_form form .buttons button,       .form_area form .buttons input, .form_area form .buttons button {
        font-family: Helvetica;
        font-size: 12px;
        color: #333; }
      #entry_form form .buttons a,       .form_area form .buttons a {
        color: #cc0000; }
    #entry_form form .options .row,     .form_area form .options .row {
      margin-bottom: 12px; }
    #entry_form form .options label,     .form_area form .options label {
      font-size: 12px;
      color: #6a675c; }

.panel form {
  width: auto;
  background-color: transparent; }
  .panel form input.text {
    width: 190px;
    padding: 3px;
    border: 1px solid #3a454e;
    font-size: 12px;
    font-family: "Helvetica", Arial;
    font-weight: bold;
    color: #fff;
    background-color: #5e6a75; }

body {
  background-color: #6e7b86;
  text-align: center;
  font-family: "Helvetica", Arial; }

#login form {
  width: 300px;
  margin: 50px auto;
  padding: 15px;
  text-align: left;
  border: 8px solid #5e6a75;
  background-color: #fff; }
  #login form div {
    margin-bottom: 10px; }
  #login form #logo_text {
    width: 300px;
    padding: 10px 15px 15px;
    margin: -15px -15px 15px;
    background-color: #5e6a75;
    border-bottom: 1px solid #4a5661;
    color: #b8c4cf; }
    #login form #logo_text strong {
      color: #909ca7; }
  #login form h1 {
    margin-bottom: 15px;
    color: #5e6a75; }
  #login form label {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #666; }
    #login form label .help {
      padding-left: 3px;
      font-size: 11px;
      font-weight: normal;
      color: #999; }
  #login form input.text {
    border: 1px solid #ccc;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    padding: 4px;
    font-size: 14px; }
