/* 
 * Reset
 * By Eric Meyers
 * PURPOSE: */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, small, strike, strong, sub, sup, tt, var,
dfn, em, img, del, small, strike, strong, sub, sup, tt, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

blockquote {
  quotes: none; }

del {
  text-decoration: line-through; }

ol, ul {
  list-style: none; }

table {
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0; }

/* 
 * Special cases */
textarea, input, select {
  -moz-box-sizing: border-box; }

body {
  background-color: #6e7b86;
  text-align: center;
  font-family: "Helvetica", Arial; }

#login form {
  width: 300px;
  margin: 50px auto;
  padding: 15px;
  text-align: left;
  border: 8px solid #5e6a75;
  background-color: #fff; }
  #login form div {
    margin-bottom: 10px; }
  #login form #logo_text {
    width: 300px;
    padding: 10px 15px 15px;
    margin: -15px -15px 15px;
    background-color: #5e6a75;
    border-bottom: 1px solid(#5e6a75 -20);
    color: #5e6a7590; }
    #login form #logo_text strong {
      color: #5e6a7550; }
  #login form h1 {
    margin-bottom: 15px;
    color: #5e6a75; }
  #login form label {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #666; }
    #login form label .help {
      padding-left: 3px;
      font-size: 11px;
      font-weight: normal;
      color: #999; }
  #login form input.text {
    border: 1px solid #ccc;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    padding: 4px;
    font-size: 14px; }
