%div.row
  %label{:for => "entry_note_title"} Title
  =f.text_field :note_title, :class => "title"

%div.row
  %label{:for => "entry_note_body"}
    Body
    %span.help Use markdown for formatting  
  =f.text_area :note_body, :rows => 6