#admin
  / %span#logo_text=link_to @current_account.name, "/"
  / %span#logo_text=link_to "Kindmanage", root_url
  
  #admin_tabs
    %ul
      %li#project_link.admin
        =link_to "Projects", "#project_chooser", :class => "nav"
        =close_admin_link
      / %li#workspace_link.admin
      /   =link_to "Workspaces", "#workspace_chooser", :class => "nav"
      /   =close_admin_link
      %li#people_link.admin
        =link_to "People", "#account_people", :class => "nav"
        =close_admin_link
        
          
  .clear
  
  #project_chooser.panel{:style => "display: none;"}
    =render :partial => "projects/projects", :locals => {:project_in_view => project_in_view}
  / #workspace_chooser.panel{:style => "display: none;"}
  /   =render :partial => "workspaces/workspaces"
  #account_people.panel{:style => "display: none;"}
    =render :partial => "users/users"
  
  
  / %ul
  /   %li#nav_account
  /     %ul
  /       %li=link_to "Dashboard", root_url
  /       %li=link_to "People", account_users_url
  /       %li=link_to "Settings", edit_account_url
