%ul#bread_crumbs
  / set origin
  %li.origin
    -if %w{edit new}.include?(@context_action)
      %span.action="#{@context_action.capitalize} #{image_tag 'bc_right_dark.png'}"
    =yield :first_crumb
  -if yield :second_crumb
    %li.separator
    %li.after
      =yield :second_crumb
  
  -case @context_with_action
  -when "show_project"
    -if current_user.owns_current_account?(current_account) || current_user.belongs_to_project?(@project)
      %li.add
        =link_to_function image_tag("add_button.png") do |page|
          -page["#bread_crumbs .content_types"].toggle
        %ul.content_types{:style => "display:none;"}
          -entry_content_types.each do |content_type|
            %li.content_type{:onclick => "$(this).parent().toggle(); return false;"}
              =link_to_remote "<span>#{content_type.capitalize}</span>", :url => new_project_entry_path(@project, :content_type => content_type, :context => @context), :method => :get
          %li.user
            =image_tag "user_silhouette.png"
            =link_to "Person", "#"
  -unless yield(:actions).blank?
    %li.other
      =yield :actions
