#masthead
  / %span#logo_text=link_to @current_account.name, "/"
  %span#logo_text=link_to "Kindmanage", root_url
  
  #admin_tabs
    %ul
      -if current_account
        %li.admin
          =link_to "Projects", "#project_chooser", :class => "nav"
          =close_admin_link
        %li.admin
          =link_to "Workspaces", "#workspace_chooser", :class => "nav"
          =close_admin_link
  .clear
  
  #project_chooser.panel{:style => "display: none;"}
    =render :partial => "projects/projects"
  #workspace_chooser.panel{:style => "display: none;"}
    =render :partial => "workspaces/workspaces"
  
  
  / %ul
  /   %li#nav_account
  /     %ul
  /       %li=link_to "Dashboard", root_url
  /       %li=link_to "People", account_users_url
  /       %li=link_to "Settings", edit_account_url
