#masthead
  / %span#logo_text=link_to @current_account.name, "/"
  %span#logo_text=link_to "Kindmanage", root_url
  
  %ul#navigation
    -if current_account
      %li#nav_choose_project
        =choose_admin_link "Projects", :type => :project, :partial => "projects/projects"
        .close_admin=choose_admin_link(nil, :close => true, :type => :project)
      %li#nav_choose_workspace
        =choose_admin_link "Workspaces", :type => :workspace, :partial=> "workspaces/workspaces"
        .close_admin=choose_admin_link(nil, :close => true, :type => :workspace)
    %li#nav_account
      %ul
        %li=link_to "Dashboard", root_url
        %li=link_to "People", account_users_url
        %li=link_to "Settings", edit_account_url
  
  #admin{:style => "display:none;"}
    &nbsp;
