%ul#create_entry.ribbon
  %li.create_label &nbsp;
  -entry_content_types.each do |content_type|
    %li=link_to_remote "<span>#{content_type.capitalize}</span>", :url => new_project_entry_path(@project, :content_type => content_type, :context => view_context(current_object)), :method => :get
  %li.hide=link_to "<span>Upload</span>", "#"
    