%ul#create_entry.ribbon
  %li.create_label &nbsp;
  -types.each do |type|
    %li=link_to_remote "<span>#{type.name.capitalize}</span>", :url => new_project_entry_path(@project, :type => type), :method => :get
    