-unless project.id == @project.id
  -existing_project_id = @project ? @project.id : nil
  %li.project{:id => "project_#{project.id}_#{context}"}
    %span.name
      =delete_project_link(project)
      =link_to project.name, project_path(project)
    %span.actions