-#unless @project.id == project.id
-existing_project_id = @project ? @project.id : nil
%li.project{:id => "project_#{project.id}", :class => "#{existing_project_id == project.id && @new_project.nil? ? 'hide' : ''}"}
  %span.name
    / =link_to_remote image_tag("admin_trash_icon.gif")
    =delete_project_link(project)
    =link_to project.name, project_path(project)
  %span.meta
    ="#{pluralize(project.number_of_entries_for("notes"), "note")} and #{pluralize(project.number_of_entries_for("tasks"), "task")}"

  %span.actions