%li.project
  %span.name
    =link_to project.name, project_path(project)
  %span.meta
    ="#{pluralize(project.number_of_entries_for("note"), "note")} and #{pluralize(project.number_of_entries_for("task"), "task")}"
    
  %span.actions