%ul#projects
  =render :partial => "projects/project", :collection => current_account.projects, :as => :project
  %li#new_project
    -remote_form_for :project, @project, :url => {:controller => "projects", :action => "create"}, :html => {:method => :get} do |f|
      =f.label :name, "Add a project"
      =f.text_field :name
      =f.submit "Create project"
