=render :partial => "shared/header", :locals => {:project => @project, :label => @project.class}

#content
  =render :partial => "create_ribbon", :locals => {:project => @project, :types => @types}
  
  #entries
    #entry_form{:style => "display:none;"}
    #for_queue
    #for_project
      -unless @entries.empty?
        =render :partial => "entries/entry", :collection => @entries, :as => :entry, :locals => {:project => @project, :single_entry => false}
      -else
        %h2.empty There are no entries for this project
        
  
  

