-content_for :first_crumb do
  =link_to @project.name, project_path(@project)

.content
  #entries
    #notice.clear{:style => "display: none;"}
    #entry_form
      .form_area{:style => "display: none;"}
        / %span.legend new note
        / %form
        /   .row
        /     %label Title
        /     %input{:type => "text", :class => "text"}
        /   .row
        /     %label Body
        /     %textarea{:name => "textarea", :rows => 1, :class => "expand"}
        /     :javascript
        /       $("textarea.expand").elastic();
    #for_queue
    #for_project
      -unless @project.entries.empty?
        -@project.entries.each do |entry|
          =entry_list_item(entry)
      -else
        %h2.empty There are no entries for this project
        
-content_for :actions do
  =link_to "Files", "#"
  |
  =link_to "People", project_collaborations_path(@project)
  -if current_user.owns_project?(@project) || current_user.owns_current_account?(current_account)
    |
    =link_to "Edit project", edit_project_path(@project)
    |
    =link_to_remote image_tag("trash_icon.png"), :url => project_path(@project), :method => :delete, :confirm => "Deleting this project will also remove all of it's entries including those collected in various workspaces, are you sure?"
/ =drop_receiving_element('add_people', :accept => 'person', :with => "'user_id=' + (element.id.split('_').last()) + '&project_id=' + #{@project.id}", :url => {:controller => "collaborations", :action => "create"})
  

