#page
  %h5.label 
    %span Project  
  %h1.name
    -unless @entry
      =@project.name
    -else
      =link_to @project.name, project_path(@project)

#content
  =render :partial => "create_ribbon", :locals => {:project => @project }
  
  #entries
    #notice.clear{:style => "display: none;"}
    #entry_form{:style => "display:none;"}
    #for_queue
    #for_project
      -unless @entries.empty?
        =render :partial => "entries/entry", :collection => @entries, :as => :entry, :locals => {:project => @project, :standalone => false}
      -else
        %h2.empty There are no entries for this project
        
  
  

