!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Kindmanage - Manage projects like a ninja
    =javascript_include_tag :defaults
    =stylesheet_link_tag "application.css"
    
  %body
    #wrapper
      
      =yield
      
      #footer      