!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Kindmanage - Manage projects like a ninja
    =javascript_include_tag :defaults
    =javascript_include_tag "tabs.js"
    =javascript_include_tag "jquery.autogrow.js"
    =javascript_include_tag "jquery.scrollto-min.js"
    =javascript_include_tag "jquery.curvycorners.js"
    =javascript_include_tag "cufon/cufon.js"
    =javascript_include_tag "cufon/Museo_500-Museo_700.font.js"
    =stylesheet_link_tag "application.css"
    =stylesheet_link_tag "safari.css"
        
    / :javascript
    /   Cufon.replace('#logo_text');
    
    / :javascript
    /   $(function(){
    /   $('.type .label').corner({
    /   tl: { radius: 4 },
    /   tr: { radius: 4 },
    /   bl: { radius: 4 },
    /   br: { radius: 4 }
    /   });
    /   });
    
    
  %body
    =#debug(params)
    =#debug(@context)
    #header
      %ul.navigation
        %li.nav
          =link_to_function "Projects <span>#{image_tag("nav_down_arrow.png")}</span>", "$(this).parent().toggleClass('on');"
          %ul.projects
            -current_account.projects.each do |project|
              -if project_accessible_by_user?(project, current_user)
                %li=link_to project.name, project_path(project)
            %li.create=link_to "+ New project", new_project_path
        %li.nav=link_to "Your workspace", "#", :class => "nav"
    #wrapper
      #main
        =render :partial => "shared/breadcrumbs"
        
        =yield
      
      #sidebar        
        #sidebar_workspaces
          =render :partial => "shared/sidebar/workspaces", :locals => {:project_in_view => @project}
                
              
          
      .clear
      %br
      #footer
        =current_user.name unless current_user.nil?
        =link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure?"
      