!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Kindmanage - Manage projects like a ninja
    =javascript_include_tag :defaults
    =javascript_include_tag "ui.tabs.js"
    =javascript_include_tag "cufon/cufon.js"
    =javascript_include_tag "cufon/Museo_500-Museo_700.font.js"
    =stylesheet_link_tag "application.css"
    =stylesheet_link_tag "safari.css"
    
    :javascript
      $(document).ready(function() {  
        $("#navigation").tabs();  
      });
    
    :javascript
      Cufon.replace('#logo_text');
      
    
  %body
    #wrapper
      
      =render :partial => "shared/masthead"
      
      =yield
      
      #footer      