!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Kindmanage - Manage projects like a ninja
    =javascript_include_tag :defaults
    =javascript_include_tag "cufon/cufon.js"
    =javascript_include_tag "cufon/Museo_500-Museo_700.font.js"
    =stylesheet_link_tag "application.css"
    
    :javascript
      Cufon.replace('#logo_text');
      
    
  %body
    #wrapper
      
      #masthead
        %span#logo_text 
          %a{:href => "#"} Kindmanage
        
          
        
        %ul#navigation
          %li#nav_choose_project
            =choose_project_link
          %li#nav_settings.hide
            <a href="#">Settings</a>
          
        #admin{:style => "display:none;"}
          .close_admin=choose_project_link(:close => true)
          #project_list
            =#render :partial => "projects/projects"
            
      
      =yield
      
      #footer      